header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .menu li {
    margin-left: 15px;
}

header .menu li a {
    padding: 10px 2px;
}