.search {
    position: absolute;
    bottom: -85px;
    left: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 50px;
    border-radius: 8px;
    background-color: var(--white);
    backdrop-filter: blur(4px);
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.background {
    position: relative;
    height: 400px;
    background-image: url("/img/anime.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search label {
    width: 100%;
    display: inline-block;
}

.search .btn-search {
    width: 15%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 1.5rem;
}

.w-big {
    width: 21.5%;
}

main {
    background-color: #F6F6F6;
    min-height: 100vh;
}

.result {
    width: 100%;
    margin-top: 105px;
}

.result-content {
    background-color: var(--white);
    border: 1px solid #e5e5e5;
    padding: 25px 50px;
    border-radius: 8px;
}

.result-content .start .img {
    min-width: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.result-content .dont-exist .img {
    min-width: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.result-content .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    object-fit: contain;
}

.result-content .dont-exist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-content .dont-exist h3 {
    margin-bottom: 5px;
    font-size: 1.9rem;
}

.result-content .start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.result-content .start h3 {
    margin-bottom: 8px;
    font-size: 2rem;
}

.result-content .start p {
    font-size: 1.5rem;
}