.search {
    position: absolute;
    bottom: -85px;
    left: 0;
    right: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 50px;
    border-radius: 8px;
    background-color: var(--white);
    backdrop-filter: blur(4px);
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.background {
    position: relative;
    height: 400px;
    background-image: url("/img/anime.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search label {
    width: 100%;
    display: inline-block;
}

.search .btn-search {
    width: 15%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 1.5rem;
}

.w-big {
    width: 21.5%;
}

main {
    background-color: #F6F6F6;
    min-height: 100vh;
}

.result {
    width: 100%;
    margin-top: 105px;
}

.result-content {
    background-color: var(--white);
    border: 1px solid #e5e5e5;
    padding: 25px 50px;
    border-radius: 8px;
}

.result-content .start .img {
    min-width: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.result-content .dont-exist .img {
    min-width: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.result-content .img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
    object-fit: contain;
}

.result-content .dont-exist {
    display: none;
    align-items: center;
    justify-content: center;
}

.result-content .dont-exist h3 {
    margin-bottom: 5px;
    font-size: 1.9rem;
}

.result-content .start {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.result-content .start h3 {
    margin-bottom: 8px;
    font-size: 2rem;
}

.result-content .start p {
    font-size: 1.5rem;
}

.trips {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
}

.trip {
    margin-bottom: 2%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px #9e9e9e23;
    border-radius: 8px;
    padding: 0 20px;
    width: 49%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.trip .img {
    padding: 20px 0;
}

.trip .od {
    padding: 20px 0;
}

.trip .img div {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border: 1px solid #e5e5e5;
    border-radius: 50px;
}

.trip .price strong {
    font-size: 2rem;
    font-weight: bold;
}

.trip .info a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.trip .info {
    width: 40%;
}

.trip .img p {
    text-align: center;
    margin-top: 5px;
    font-weight: 200;
}

.od {
    width: 40%;
}

.od-cities {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0px;
}

.od-cities span {
    flex-grow: 1;
    height: 5px;
    background-color: #e5e5e552;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    top: 4px;
}

.clock i {
    font-size: 2rem;
    color: var(--warning);
}

.clock p span {
    margin-left: 10px;
}

.od-cities h3 {
    background-color: #e5e5e552;
    color: var(--dark);
    padding: 5px 10px;
    border-radius: 50px;
    min-width: 60px;
    display: inline-block;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
}

.trip .info {
    padding: 20px 20px 20px 0;
    border-right: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.trip .img div img {
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
    object-fit: contain;
}

/* datePicker */
.pdp-header, .pdp-footer {
    cursor: pointer;
    height: 25px !important;
}