@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_Bold.eot');
	src: url('../font/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Bold.woff') format("woff"),
		url('../font/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Bold.ttf') format("truetype"),
		url('../font/IRANSansWeb/woff2/IRANSansWeb\(FaNum\).woff2') format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_UltraLight.eot');
	src: url('../font/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Light.woff') format("woff"),
		url('../font/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_UltraLight.ttf') format("truetype"),
		url('../font/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_UltraLight.woff2') format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/eot/IRANSansWeb\(FaNum\)_Light.eot');
	src: url('../font/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Light.woff') format("woff"),
		url('../font/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Light.ttf') format("truetype"),
		url('../font/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_Light.woff2') format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/eot/IRANSansWeb\(FaNum\).eot');
	src: url('../font/IRANSansWeb/woff/IRANSansWeb\(FaNum\).woff') format("woff"),
		url('../font/IRANSansWeb/ttf/IRANSansWeb\(FaNum\).ttf') format("truetype"),
		url('../font/IRANSansWeb/woff2/IRANSansWeb\(FaNum\).woff2') format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/woff/IRANSansWeb\(FaNum\)_Medium.woff') format("woff"),
		url('../font/IRANSansWeb/ttf/IRANSansWeb\(FaNum\)_Medium.ttf') format("truetype"),
		url('../font/IRANSansWeb/woff2/IRANSansWeb\(FaNum\)_Medium.woff2') format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: IRANSansWeb;
	src: url('../font/IRANSansWeb/ttf/IRANSansWeb_Black.ttf');
	font-weight: 900;
	font-style: normal;
}