@import url(/css/base/reset.css);
@import url(/css/base/IRANSansWeb.css);
@import url(/css/base/base.css);

:root {
    --mainFont: IRANSansWeb;
}

* {
    font-family: var(--mainFont), Tahoma;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--warning);
}