/*
    **********************************
    تمامی استایل ها به تنظیمات کارخانه برگشت
    **********************************
*/

*,
*::before,
*::after {
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

p {
    margin-bottom: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: unset;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}