<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image" href="/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminPanel/layout.css">
    <title>شرکت هواپیمایی ایران ایر | پنل مدیریت</title>
</head>

<body>
    <!-- Header -->
    <header w3-include-html="/view/adminPanel/layout/header.html"></header>
    <div class="content">
        <!-- aside -->
        <aside w3-include-html="/view/adminPanel/layout/asideAdmin.html" class="sidebar -bg-dark"></aside>

        <!-- main -->
        <main>
            <div class="-card">
                <div class="-card-header">
                    <h3 class="-card-title">شرکت هواپیمایی ایران ایر</h3>
                </div>

                <div class="-card-body -table-responsive">
                    <table class="-table -table-hover">
                        <tbody>
                            <tr>
                                <th>ردیف</th>
                                <th>شماره پرواز</th>
                                <th>تاریخ پرواز</th>
                                <th>مبدا</th>
                                <th>مقصد</th>
                                <th>ساعت پرواز</th>
                                <th>مبلغ <small>(تومان)</small></th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>778</td>
                                <td>1401/11/28</td>
                                <td>تهران</td>
                                <td>بیرجند</td>
                                <td>22:00</td>
                                <td>750,000</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>123</td>
                                <td>1401/12/05</td>
                                <td>اهواز</td>
                                <td>ساری</td>
                                <td>02:00</td>
                                <td>3,750,000</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>478</td>
                                <td>1401/08/30</td>
                                <td>مشهد</td>
                                <td>ساوه</td>
                                <td>16:15</td>
                                <td>2,000,000</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>741</td>
                                <td>1401/10/01</td>
                                <td>ارومیه</td>
                                <td>اردبیل</td>
                                <td>04:00</td>
                                <td>150,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/adminPanel/layout.js"></script>
</body>

</html>