<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image" href="/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminPanel/layout.css">
    <title>بلیط های خریداری شده | پنل کاربری</title>
</head>

<body onLoad="date()">
    <!-- Header -->
    <header w3-include-html="/view/adminPanel/layout/header.html"></header>
    <div class="content">
        <!-- aside -->
        <aside w3-include-html="/view/adminPanel/layout/asideUser.html" class="sidebar -bg-dark"></aside>

        <!-- main -->
        <main>
            <div class="-card">
                <div class="-card-header">
                    <h3 class="-card-title">لیست بلیط ها</h3>
                </div>

                <div class="-card-body -table-responsive">
                    <table class="-table -table-hover">
                        <tbody>
                            <tr>
                                <th>شماره پرواز</th>
                                <th>مسافر</th>
                                <th>هواپیما</th>
                                <th>تاریخ پرواز</th>
                                <th>مبدا</th>
                                <th>مقصد</th>
                                <th>ساعت پرواز</th>
                                <th>مبلغ <small>(تومان)</small></th>
                            </tr>
                            <tr>
                                <td>۱۸۳</td>
                                <td>رضا عفتی مقدم</td>
                                <td>وارش</td>
                                <td>1401/05/25</td>
                                <td>بیرجند</td>
                                <td>اصفهان</td>
                                <td>12:30</td>
                                <td>1,250,000</td>
                            </tr>
                            <tr>
                                <td>512</td>
                                <td>مهدی مجاهد</td>
                                <td>آسمان</td>
                                <td>1401/12/05</td>
                                <td>بیرجند</td>
                                <td>آبادان</td>
                                <td>00:30</td>
                                <td>15,020,000</td>
                            </tr>
                            <tr>
                                <td>555</td>
                                <td>رضا عفتی مقدم</td>
                                <td>کاسپین</td>
                                <td>1401/05/25</td>
                                <td>ساری</td>
                                <td>سیستان و بلوچستان</td>
                                <td>12:30</td>
                                <td>1,250,000</td>
                            </tr>
                            <tr>
                                <td>778</td>
                                <td>حجت قاسمی</td>
                                <td>ایران ایر</td>
                                <td>1401/11/28</td>
                                <td>تهران</td>
                                <td>بیرجند</td>
                                <td>22:00</td>
                                <td>750,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/adminPanel/layout.js"></script>
</body>

</html>