<h2 class="-center">پنل مدیریت</h2>
<hr>
<div class="info -text-light">
    <div class="info-img">
        <img src="https://api.lorem.space/image/face?w=150&h=150" alt="تصویر کاربر">
    </div>
    <p class="-f-bold">رضا عفتی مقدم</p>
    <small class="badge -bg-warning -text-dark">پرسنل فرودگاه</small>
    <!-- <small class="badge -bg-warning -text-dark">مسافر</small> -->
</div>
<hr>
<ul>
    <li><a id="m1" href="http://127.0.0.1:5500/view/adminPanel/admin/timing.html"><span><i class="fas fa-history"></i></span>زمانبندی پرواز ها</a></li>
    <li><a id="m2" href="http://127.0.0.1:5500/view/adminPanel/admin/tickets.html"><span><i class="fas fa-ticket-alt"></i></span>بلیط های خریداری شده</a></li>
    <li><a id="m3" href="http://127.0.0.1:5500/view/adminPanel/admin/airplanes.html"><span><i class="fas fa-plane"></i></span>لیست هواپیما ها</a></li>
    <li><a href="http://127.0.0.1:5500/view"><span><i class="fas fa-sign-out-alt"></i></span> خروج از حساب کاربری</a>
    </li>
</ul>