<h2 class="-center">پنل کاربـری</h2>
<hr>
<div class="info -text-light">
    <div class="info-img">
        <img src="https://api.lorem.space/image/face?w=150&h=150" alt="تصویر کاربر">
    </div>
    <p class="-f-bold">حجت قاسمی</p>
    <!-- <small class="badge -bg-warning -text-dark">پرسنل فرودگاه</small> -->
    <small class="badge -bg-warning -text-dark">مسافر</small>
</div>
<hr>
<ul>
    <li><a href="http://127.0.0.1:5500/view/adminPanel/user/tickets.html" class="active"><span><i class="fas fa-ticket-alt"></i></span>بلیط های من</a></li>
    <li><a href="http://127.0.0.1:5500/view" class="logout"><span><i class="fas fa-sign-out-alt"></i></span> خروج از حساب کاربری</a></li>
</ul>