<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <span id="closeAuthModal"><i class="close fas fa-times"></i></span>
    </div>
    <div class="modal-body auth-modal-container">
        <div class="loginBox">
            <h2 class="-center">ورود با کلمه عبور</h2>
            <p class="-center des">شماره موبایل و کلمه عبور خود را وارد کنید.</p>

            <form action="#" class="login-form">
                <div class="-form-group -w-100">
                    <label for="mobile" class="-input -w-100">
                        <span class="-input-title">شماره موبایل</span>
                        <input autocomplete="off" type="text" name="phone" id="phoneLogin"
                            placeholder="شماره موبایل خود را وارد کنید.">
                    </label>
                </div>
                <div class="-form-group -w-100">
                    <label for="password" class="-input -w-100">
                        <span class="-input-title">کلمه عبور</span>
                        <input autocomplete="off" type="password" name="password" id="passwordLogin"
                            placeholder="کلمه عبور خود را وارد کنید.">
                    </label>
                </div>
                <button type="submit" class="-btn -btn-warning -w-100">ورود به حساب</button>
                <div class="register">
                    <span>حساب کاربری ندارید؟</span>
                    <a href="javascript:void(0)" id="btnRegister">ثبت نام در سایت</a>
                </div>
            </form>
        </div>

        <div class="registerBox">
            <h2 class="-center">ثبت نام در سایت</h2>
            <p class="-center des">شماره موبایل و کلمه عبور خود را وارد کنید.</p>

            <form action="#" class="register-form">
                <div class="-form-group -w-100">
                    <label for="fname" class="-input -left-0 -w-50">
                        <span class="-input-title">نام</span>
                        <input autocomplete="off" type="text" name="name" id="nameRegister"
                            placeholder="نام خود را وارد کنید.">
                    </label>
                    <label for="lname" class="-input -right-0 -w-50">
                        <span class="-input-title">نام خانوادگی</span>
                        <input autocomplete="off" type="text" name="family" id="familyRegister"
                            placeholder="نام خانوادگی خود را وارد کنید.">
                    </label>
                </div>
                <div class="-form-group -w-100">
                    <label for="mobile" class="-input -w-100">
                        <span class="-input-title">شماره موبایل</span>
                        <input autocomplete="off" type="text" name="phone" id="phoneRegister"
                            placeholder="شماره موبایل خود را وارد کنید.">
                    </label>
                </div>
                <div class="-form-group -w-100">
                    <label for="regPassword" class="-input -w-100">
                        <span class="-input-title">کلمه عبور</span>
                        <input autocomplete="off" type="password" name="password" id="passwordRegister"
                            placeholder="کلمه عبور خود را وارد کنید.">
                    </label>
                </div>
                <div class="-form-group -w-100">
                    <label for="regPassword2" class="-input -w-100">
                        <span class="-input-title">تاییدیه کلمه عبور</span>
                        <input autocomplete="off" type="password" name="password" id="password2Register"
                            placeholder="کلمه عبور خود را دوباره وارد کنید.">
                    </label>
                </div>
                <button type="submit" class="-btn -btn-warning -w-100">ثبت نام</button>
                <div class="register">
                    <span>حساب کاربری دارید؟</span>
                    <a href="javascript:void(0)" id="btnLogin">ورود به حساب</a>
                </div>
            </form>
        </div>
    </div>
</div>