<div class="header-content">
    <h2 class="logo">آژانس هواپیمایی</h2>
    <ul class="menu">
        <li><a href="http://127.0.0.1:5500/view" class="-text-light">خانه</a></li>
        <li><a href="javascript:void(0)" class="-text-light">درباره ما</a></li>
        <li><a href="javascript:void(0)" class="-text-light">قوانین و مقررات</a></li>
        <li><a href="javascript:void(0)" class="-text-light">تماس با ما</a></li>
    </ul>
</div>
<a href="#" id="authModal" class="-btn -btn-light header-auth">ورود به حساب</a>