<div class="details">
    <div class="details-items">
        <div class="details-items-img">
            <img src="/img/details-items-img1.webp" alt="رتبه یک سفر">
        </div>
        <div>
            <h4>رتبه یک سفر</h4>
            <p class="-text-secondary">معتبرترین عرضه‌کننده محصولات گردشگری در ایران</p>
        </div>
    </div>
    <div class="details-items">
        <div class="details-items-img">
            <img src="/img/details-items-img2.webp" alt="همسفر هر سفر">
        </div>
        <div>
            <h4>همسفر هر سفر</h4>
            <p class="-text-secondary">ارائه تمامی خدمات سفر (پرواز هایی ایمن و باکیفیت)</p>
        </div>
    </div>
    <div class="details-items">
        <div class="details-items-img">
            <img src="/img/details-items-img3.webp" alt="همسفر همه لحظات سفر">
        </div>
        <div>
            <h4>همسفر همه لحظات سفر</h4>
            <p class="-text-secondary">پشتیبانی و همراهی ۲۴ ساعته در تمامی مراحل سفر</p>
        </div>
    </div>
</div>
<hr>
<div class="final-content">
    <div class="about">
        <h3>آژانس هواپیمایی</h3>
        <p class="-justify">آژانس هواپیمایی بزرگترین و معتبرترین سایت خرید اینترنتی بلیط هواپیما در کشور است که از سال
            1401 کار خود را شروع
            کرده و در این مدت توانسته رضایت درصد قابل توجهی از کاربران را به دست بیاورد. در ابتدا، فروش بلیط پرواز داخلی
            در دستور
            کار ما قرار دارد؛ آپشن های بیشتر در صورت نیاز اضافه می‌شوند.</p>
    </div>

    <div class="signs">
        <div class="signs-item"><img src="/img/enamad.png" alt="enamad"></div>
        <div class="signs-item"><img src="/img/ecunion.png" alt="ecunion"></div>
        <div class="signs-item"><img src="/img/samandehi.png" alt="samandehi"></div>
        <div class="signs-item"><img src="/img/state-airline.svg" alt="state-airline"></div>
    </div>
</div>
<hr class="end">
<p class="-text-seondary -center copyright"> کلیه حقوق این وب سایت محفوظ می‌باشد. (بهمن 1401)</p>