<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image" href="/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout/header.css">
    <link rel="stylesheet" href="/css/layout/footer.css">
    <link rel="stylesheet" href="/css/layout/auth.css">
    <link rel="stylesheet" href="/css/seat-selection.css">
    <title>انتخاب بلیط</title>
</head>

<body onLoad="auth()">
    <!-- Header -->
    <header w3-include-html="/view/layout/header.html" class="-cont-p -bg-dark -text-light"></header>

    <!-- Main -->
    <main>
        <!-- Result -->
        <div class="result -cont-p">
            <div class="result-content">
                <div class="trips">
                    <div class="trip">
                        <div class="img">
                            <div><img src="/img/airplanes/IR.png" alt="IR"></div>
                            <p>ایران ایر</p>
                        </div>
                        <div class="od">
                            <div class="od-cities">
                                <h3>تهران</h3>
                                <span class="line"></span>
                                <h3>بیرجند</h3>
                            </div>

                            <div class="clock">
                                <i class="fad fa-clock"></i>
                                <p><span>ساعت پرواز</span><strong>22:00</strong></p>
                            </div>
                        </div>
                        <div class="info">
                            <p class="-w-100 -center price"><strong>9,850,000</strong> تومان</p>
                            <small class="-w-100 capacity-label -center">9 صندلی باقی مانده</small>
                        </div>
                    </div>
                    <div class="trip p-20">
                        <table class="-table -table-hover">
                            <tbody>
                                <tr>
                                    <th>شماره پرواز</th>
                                    <th>مبدا</th>
                                    <th>مقصد</th>
                                    <th>تاریخ پرواز</th>
                                    <th>ساعت پرواز</th>
                                </tr>
                                <tr>
                                    <td>778</td>
                                    <td>تهران</td>
                                    <td>بیرجند</td>
                                    <td>1401/11/28</td>
                                    <td>22:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="result -cont-p mt-20">
            <div class="result-content">
                <h3>انتخاب صندلی</h3>
                <p class="des">لطفا شماره صندلی خود را انتخاب کنید. با کلیک بر روی صندلی آن را به راحتی رزرو کنید.</p>
                <div class="trips">
                    <div class="airplane-simulator -ltr">
                        <div class="rows grid-item-1">
                            <div class="small-rows">
                                <span class="chair blocked">1</span>
                                <span class="chair blocked">2</span>
                                <span class="chair blocked">3</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair blocked">4</span>
                                <span class="chair blocked">5</span>
                                <span class="chair blocked">6</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair blocked">7</span>
                                <span class="chair blocked">8</span>
                                <span class="chair blocked">9</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">10</span>
                                <span class="chair">11</span>
                                <span class="chair">12</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">13</span>
                                <span class="chair reserved">14</span>
                                <span class="chair">15</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">16</span>
                                <span class="chair">17</span>
                                <span class="chair">18</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">19</span>
                                <span class="chair">20</span>
                                <span class="chair">21</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">22</span>
                                <span class="chair reserved">23</span>
                                <span class="chair reserved">24</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">25</span>
                                <span class="chair reserved">26</span>
                                <span class="chair">27</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">28</span>
                                <span class="chair">29</span>
                                <span class="chair">30</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">31</span>
                                <span class="chair">32</span>
                                <span class="chair">33</span>
                            </div>
                        </div>
                        <div class="rows grid-item-2">
                            <div class="small-rows">
                                <span class="chair blocked">34</span>
                                <span class="chair blocked">35</span>
                                <span class="chair blocked">36</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair blocked">37</span>
                                <span class="chair blocked">38</span>
                                <span class="chair blocked">39</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair blocked">40</span>
                                <span class="chair blocked">41</span>
                                <span class="chair blocked">42</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">43</span>
                                <span class="chair reserved">44</span>
                                <span class="chair reserved">45</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">46</span>
                                <span class="chair reserved">47</span>
                                <span class="chair">48</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">49</span>
                                <span class="chair reserved">50</span>
                                <span class="chair">51</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">52</span>
                                <span class="chair reserved">53</span>
                                <span class="chair">54</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">55</span>
                                <span class="chair">56</span>
                                <span class="chair">57</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">58</span>
                                <span class="chair reserved">59</span>
                                <span class="chair">60</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">61</span>
                                <span class="chair reserved">62</span>
                                <span class="chair">63</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">64</span>
                                <span class="chair reserved">65</span>
                                <span class="chair reserved">66</span>
                            </div>
                        </div>
                        <div class="rows grid-item-3">
                            <div class="small-rows">
                                <span class="chair blocked">67</span>
                                <span class="chair blocked">68</span>
                                <span class="chair blocked">69</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">70</span>
                                <span class="chair">71</span>
                                <span class="chair">72</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">73</span>
                                <span class="chair reserved">74</span>
                                <span class="chair reserved">75</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">76</span>
                                <span class="chair reserved">77</span>
                                <span class="chair reserved">78</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">79</span>
                                <span class="chair">80</span>
                                <span class="chair">81</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">82</span>
                                <span class="chair reserved">83</span>
                                <span class="chair">84</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">85</span>
                                <span class="chair">86</span>
                                <span class="chair reserved">87</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">88</span>
                                <span class="chair reserved">89</span>
                                <span class="chair reserved">90</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">91</span>
                                <span class="chair reserved">92</span>
                                <span class="chair reserved">93</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">94</span>
                                <span class="chair">95</span>
                                <span class="chair">96</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">97</span>
                                <span class="chair">98</span>
                                <span class="chair">99</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">100</span>
                                <span class="chair">101</span>
                                <span class="chair">102</span>
                            </div>
                        </div>
                        <div class="rows grid-item-4">
                            <div class="small-rows">
                                <span class="chair blocked">103</span>
                                <span class="chair blocked">104</span>
                                <span class="chair blocked">105</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">106</span>
                                <span class="chair reserved">107</span>
                                <span class="chair reserved">108</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">109</span>
                                <span class="chair reserved">110</span>
                                <span class="chair reserved">111</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">112</span>
                                <span class="chair reserved">113</span>
                                <span class="chair reserved">114</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">115</span>
                                <span class="chair reserved">116</span>
                                <span class="chair reserved">117</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">118</span>
                                <span class="chair reserved">119</span>
                                <span class="chair reserved">120</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">121</span>
                                <span class="chair">122</span>
                                <span class="chair">123</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair">124</span>
                                <span class="chair reserved">125</span>
                                <span class="chair reserved">126</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">127</span>
                                <span class="chair reserved">128</span>
                                <span class="chair">129</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">130</span>
                                <span class="chair">131</span>
                                <span class="chair reserved">132</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">133</span>
                                <span class="chair reserved">134</span>
                                <span class="chair">135</span>
                            </div>
                            <div class="small-rows">
                                <span class="chair reserved">136</span>
                                <span class="chair">137</span>
                                <span class="chair">138</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="payment" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="closePaymentModal"><i class="close fas fa-times"></i></span>
                    <h3 class="-right">نهایی کردن خرید</h3>
                </div>
                <div class="modal-body">
                    <div class="register">
                        <form id="paymentForm" action="#" class="payment-form">
                            <div class="-form-group">
                                <label for="origin" class="-input -left-0">
                                    <span class="-input-title">مبدا <small>(شهر)</small></span>
                                    <input autocomplete="off" readonly type="text" name="origin" id="origin"
                                        placeholder="مبدا را وارد کنید." value="تهران">
                                </label>
                                <label for="goal" class="-input -right-0">
                                    <span class="-input-title">مقصد <small>(شهر)</small></span>
                                    <input autocomplete="off" readonly type="text" name="goal" id="goal"
                                        placeholder="مقصد را وارد کنید." value="بیرجند">
                                </label>
                            </div>
                            <div class="-form-group">
                                <label for="date" class="-input -left-0">
                                    <span class="-input-title">تاریخ پرواز</span>
                                    <input autocomplete="off" readonly type="text" name="date" id="date"
                                        value="1401/11/28">
                                </label>
                                <label for="price" class="-input -right-0">
                                    <span class="-input-title">قیمت <small>(تومان)</small></span>
                                    <input autocomplete="off" readonly type="text" name="price" id="price"
                                        value="9,850,000">
                                </label>
                            </div>
                            <div class="-form-group">
                                <label for="fname" class="-input -left-0">
                                    <span class="-input-title">نام</span>
                                    <input autocomplete="off" type="text" name="fname" id="fname"
                                        placeholder="نام خود را وارد کنید.">
                                </label>
                                <label for="lname" class="-input -right-0">
                                    <span class="-input-title">نام خانوادگی</span>
                                    <input autocomplete="off" type="text" name="lname" id="lname"
                                        placeholder="نام خانوادگی خود را وارد کنید.">
                                </label>
                            </div>
                            <div class="-form-group -w-100">
                                <label for="nationalCode" class="-input -w-100">
                                    <span class="-input-title">کدملی</span>
                                    <input autocomplete="off" type="text" name="nationalCode" id="nationalCode"
                                        placeholder="کدملی خود را وارد کنید.">
                                </label>
                            </div>
                            <button type="submit" class="-btn -btn-success -w-100">خرید بلیط</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Auth -->
        <div w3-include-html="/view/layout/auth.html" id="auth" class="modal"></div>

        <!-- Footer -->
        <footer class="-cont-p" w3-include-html="/view/layout/footer.html"></footer>
    </main>

    <!-- JS -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/main.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/seat-selection.js"></script>
</body>

</html>